button{
    width:280px;
    height: 30px;
    background-color: #ffffff;
    border: none;
    font-size: 1rem;
    margin-right: 10px;
    
}
.title{
    font-size: 2rem;
}
button:hover{
    border-bottom: #28311B 3px solid;
}
/* .buttons{
    border-bottom: black 1px solid;
} */
.history_text{
    justify-items: center;
  max-width:65% ;
}
.guide{
    display: grid;
    justify-items:center;
    justify-content: center;
    
}
.buttons{
    display: flex;
    flex-direction: row;
}
.success:hover {
    background-color: white !important;
    color: #3e1618 !important;
    border-color: #3e1618 !important;
}
.success:focus {
    background-color: white !important;
    color: #3e1618 !important;
    border-color: #3e1618 !important;
} 