@font-face {
    font-family: 'JosefinSans';
    src: local('JosefinSans'), url(../assets/Fonts/JosefinSans-VariableFont_wght.ttf) format('truetype');
  }
.monu{
    font-family: 'JosefinSans';
/* background-color: white;
    padding: 10px 25px;
    inline-size: 60vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 500px;
    flex: 1 0 0 500px;
    margin-left: 15px; */
    
  
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.title{
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.monu_para{
    line-height: 1.5em;
    text-align: justify;
}
.components{
   display: flex;
   flex-direction: column;

}

.sub_title{
    font-size: 1.5rem;
}
.img{
    height: 30vh;
    width: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    
}
.buttons{
    display: flex;
    flex-direction: row;
   
}
.button{
    background-color: #3e1618;
    margin: 3px;
    border-radius: 5px;
    border-color: #3e1618;
}
.button a{
    color: white;
}
