.body {
    padding: 3rem 6rem;
    font-family: "Josefin Sans", sans-serif;
  }
  
  .body p {
    line-height: 1.5;
  }

  .headerText {
    text-align: center;
    color: #8b8c8c;
    font-size: 1.4rem;
    line-height: 1.2;
  }

  .focusBusinessIdea {
    color: #3657b4;
    font-size: 4rem;
    font-weight: 600;
  }

  @media only screen and (max-width: 610px) {
    .body {
      padding: 3rem 1rem;
    }

    .focusBusinessIdea {
        font-size: 2.5rem;
      }
}